asgiref==3.5.0
click==8.1.2
colorama==0.4.4
distlib==0.3.4
Django==4.0.3
filelock==3.6.0
Flask==2.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
page==0.1.9
Pillow==9.0.1
platformdirs==2.5.1
psycopg2==2.9.3
selenium==4.3.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.13.4
virtualenvwrapper-win==1.2.7
Werkzeug==2.1.1
spacy==3.4.1
PyPDF2==2.11.1
python-dotenv==0.21.0
flask-sqlalchemy==3.0.2
pytest==7.2.0
