<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
      }
    </style>
    <title>Reverse ATS Homepage</title>
  </head>
  <body>
    <div class="center">
      <h1>Reverse ATS API Running</h1>
    </div>
  </body>
</html>