@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px; /* popup window width */
  height: 600px; /* popup window height */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* TODO: Remove reeference frame css */
.popup-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  pointer-events: none;
}

.relative {
  position: relative;
}
